<mat-toolbar color="primary" *ngIf="authService.isAuth">
    <span>
      <a >Xeda Fixer</a>
    </span>
    <span class="spacer"></span>
    <ul>
      <li>
        <a mat-button routerLink="/createPost" *ngIf="role == 'ADMIN'"  (click)="page = 'Dodaj Zlecenia'" [ngClass]="{'active': page == 'Dodaj Zlecenia'}">Dodaj Zlecenia</a>
      </li>
      <li>
        <a mat-button routerLink="/" (click)="page = 'Pokaż Zlecenia'" [ngClass]="{'active': page == 'Pokaż Zlecenia'}">Pokaż Zlecenia</a>
      </li>
      <li>
        <a mat-button routerLink="/fixed" *ngIf="role == 'ADMIN'"  (click)="page = 'Baza Zleceń'" [ngClass]="{'active': page == 'Baza Zleceń'}">Baza Zleceń</a>
      </li>
      <li>
        <a mat-button (click)="onLogout()">Logout</a>
      </li>
    </ul>
</mat-toolbar>